/* SCSS file for styles
*/

#justiceMap {
    margin: auto;
}

.type-wrapper {
    // style for subtypes
    display: none;
    background: white;
}


.type-item {
    background:red;
    width: 100%;
    float: left;
    margin: 1px;
    border-radius: 0px;

    input {
        background: none;
        color: white;
        width: 100%;
    }
}

.enforcement {
    .type-item {
        background: #4169ad;
    }
}

.legal {
    .type-item {
        background: #5db323;
    }
}

.courts {
    .type-item {
        background: #a53295;
    }
}

.confinement {
    .type-item {
        background: #ca2016;
    }
}

.alternatives {
    .type-item {
        background: #7bcbc2;
    }

}

.support {
    .type-item {
        background: #fecf01;
        input {
            color: black;
        }
    }
}

.type-info {
    font-size: 90%;
    border: 5px solid white;
    clear: both;
    padding-top: 5px;
}

.layer-control.legend {
    max-width: 200px;
}


.static-legend {
    background: white;
    padding: 5px 5px 10px 5px;
    width: 90px;


    a.legend-tooltip {
        text-decoration: none;
    }

    .icon {
        display: inline;
        position: relative;
        top: 5px;
        margin-right: 5px;


        img {
            width: 20px;
            height: 20px;
        }
    }

}

.legend-tooltip-data {
    position: absolute;
    left: 90px;
    z-index: 9999;
    width: 440px;
    background: white;
    padding: 7px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
    
}

#direct {
    top: 160px;
    display: none;
}

#indirect {
    top: 180px;
    display: none;
}

#support {
    top: 220px;
    display: none;
}

#all_toggle, #highlights_toggle {
    /* adding a comment to resync the CSS */
    
    color:#555;
}


.about-control {
    width: 50px;
    color: #666;
    background: white;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 2px;
    padding: 2px;

}

// .leaflet-container {
//   font-family: 'Neue Haas Unica W01 Regular', monospace;
// }
// .leaflet-popup-content h1 {
//   font-family: 'Neue Haas Unica W01 Bold', monospace;
//   font-size: 1.35em;
//   margin: 5px 0;
// }

#aboutPopup {
    font-family: 'Neue Haas Unica W01 Regular', monospace;
    display: none;
    position: absolute;
    z-index: 1009;
    width: 50%;
    max-height: 80%;
    margin: auto;
    padding: 40px;
    background-color: white;
    font-size: 120%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 3px 14px rgba(0,0,0,0.2);
    h3 {
      font-size: 1.35em;
      font-family: 'Neue Haas Unica W01 Bold', monospace;
    }
    .aboutClose {
      position: absolute;
      top: 0;
      right: 0;
      padding: 4px 4px 0 0;
      border: none;
      text-align: center;
      width: 18px;
      height: 14px;
      color: #c3c3c3;
      text-decoration: none;
      font-weight: bold;
      background: transparent;
      // font-size: 1.25em;
      //   float: right;
      //   margin-bottom: 10px;
      //   clear: both;
      //   width: 100%;
      //   text-align: right;
      //   font-size: large;
      //   font-weight: bold;
      //   opacity: 0.3;
    }
}
