/* SCSS file for styles
*/

#justiceMap {
    margin: auto;
}

#notes {
    position: fixed;
    background: blue;
    color: white;
    top: 10px;
    right: 10px;
    text-align: right;
    z-index: 999;
    a {
        color: white;
    }
}

.enforcement-legend {
    font-size: 80%;
}

.type-wrapper {
    // style for subtypes
    display: none;
    background: white;


}

.type-item {
    background:red;
    width: 100%;
    float: left;
    margin: 1px;
    border-radius: 3px;
    input {
        background: none;
        color: white;
        width: 100%;
    }
}

.enforcement {
    .type-item {
        background: #4169ad;
    }
}

.legal {
    .type-item {
        background: #5db323;
    }
}


.courts {
    .type-item {
        background: #5db323;
    }
}

.confinement {
    .type-item {
        background: #ca2016;
    }
}




.type-info {
    font-size: 90%;
    border: 5px solid white;
    clear: both;
    padding-top: 5px;
}

.layer-control.legend {
    max-width: 180px;
}

.about-control {
    width: 50px;
    color: #666;
    background: white;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 2px;
    padding: 2px;
    
}

#aboutPopup {
    display: none;
    position: absolute;
    z-index: 1009;
    width: 70%;
    max-height: 86%;
    margin: auto;
    padding: 10px;
    background-color: white;
    /* text-align: center; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 3px 4px 9px rgba(0,0,0,0.5);

    .aboutClose {
        float: right;
        margin-bottom: 10px;
        clear: both;
        /* border-bottom: 1px solid red; */
        width: 100%;
        text-align: right;
        font-size: large;
        font-weight: bold;
        opacity: 0.5;
    }

}




